body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
}

div {
    width: 100px;
    height: 100px;
    background-color: green;
    transition: transform 0.5s 
}

div:hover {
    transform: rotate(180deg); 
}